In [6]:
import pandas as pd

In [7]:
income = pd.read_csv("5Y Income Data.csv")

In [8]:
income

,id,Location,Estimate,MarginOfError
0,0500000US01001,"Autauga County, Alabama",21397,325
1,0500000US01003,"Baldwin County, Alabama",80930,1127
2,0500000US01005,"Barbour County, Alabama",9345,313
3,0500000US01007,"Bibb County, Alabama",6891,333
4,0500000US01009,"Blount County, Alabama",20847,394
...,...,...,...,...
3215,0500000US72145,"Vega Baja Municipio, Puerto Rico",18721,486
3216,0500000US72147,"Vieques Municipio, Puerto Rico",2258,248
3217,0500000US72149,"Villalba Municipio, Puerto Rico",7908,255
3218,0500000US72151,"Yabucoa Municipio, Puerto Rico",11541,389
3219,0500000US72153,"Yauco Municipio, Puerto Rico",10990,429

In [9]:
income[['CTYNAME','STNAME']] = income.Location.str.split(",",expand=True,)

In [10]:
income

,id,Location,Estimate,MarginOfError,CTYNAME,STNAME
0,0500000US01001,"Autauga County, Alabama",21397,325,Autauga County,Alabama
1,0500000US01003,"Baldwin County, Alabama",80930,1127,Baldwin County,Alabama
2,0500000US01005,"Barbour County, Alabama",9345,313,Barbour County,Alabama
3,0500000US01007,"Bibb County, Alabama",6891,333,Bibb County,Alabama
4,0500000US01009,"Blount County, Alabama",20847,394,Blount County,Alabama
...,...,...,...,...,...,...
3215,0500000US72145,"Vega Baja Municipio, Puerto Rico",18721,486,Vega Baja Municipio,Puerto Rico
3216,0500000US72147,"Vieques Municipio, Puerto Rico",2258,248,Vieques Municipio,Puerto Rico
3217,0500000US72149,"Villalba Municipio, Puerto Rico",7908,255,Villalba Municipio,Puerto Rico
3218,0500000US72151,"Yabucoa Municipio, Puerto Rico",11541,389,Yabucoa Municipio,Puerto Rico
3219,0500000US72153,"Yauco Municipio, Puerto Rico",10990,429,Yauco Municipio,Puerto Rico

In [11]:
income.Location.drop()

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'

In [15]:
income = income.drop(columns=['Location'])

In [16]:
income

,id,Estimate,MarginOfError,CTYNAME,STNAME
0,0500000US01001,21397,325,Autauga County,Alabama
1,0500000US01003,80930,1127,Baldwin County,Alabama
2,0500000US01005,9345,313,Barbour County,Alabama
3,0500000US01007,6891,333,Bibb County,Alabama
4,0500000US01009,20847,394,Blount County,Alabama
...,...,...,...,...,...
3215,0500000US72145,18721,486,Vega Baja Municipio,Puerto Rico
3216,0500000US72147,2258,248,Vieques Municipio,Puerto Rico
3217,0500000US72149,7908,255,Villalba Municipio,Puerto Rico
3218,0500000US72151,11541,389,Yabucoa Municipio,Puerto Rico
3219,0500000US72153,10990,429,Yauco Municipio,Puerto Rico

In [17]:
income.to_csv (r'C:\Users\javie\Desktop\5YIncomeDataClean.csv', index = False, header=True)